app-sp-grid {
  width: 100%;
}
app-sp-category {
  width: 100%;
}
.openingstock-container {
  .selected-txt {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.openingstock-btn {
  width: 280px;
  margin: 30px 0px;
}
