<section class="store-profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 px-0">
        <div class="store-profile-container">
          <button class="sp-btn1" routerLink="/store-profile" routerLinkActive="active" translate>
            <span></span>
            Store-profile
          </button>
          <button class="sp-btn2" routerLink="/configuration" translate routerLinkActive="active">
            <span></span>Configuration
          </button>
          <!-- routerLink="/opening-stock"
          routerLinkActive="active"
          [disabled]="disableOpeningStock" -->

          <!-- [ngClass]="{'active':activeUrl == '/opening-stock'}"
          (click)="checkStatus()" -->
          <button
            class="sp-btn3"
            [ngClass]="{ active: activeUrl == '/opening-stock' }"
            translate
            (click)="checkStatus()"
          >
            <span></span>Opening-stock
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
