<section class="landing-page-section">
  <div class="p-0 h-100">
    <div class="row no-gutters h-100">
      <div class="col-lg-5 h-100">
        <app-banner></app-banner>
      </div>
      <div class="col-lg-7">
        <!-- Registered Mobile number section  -->
        <div class="signup-form h-100" *ngIf="!otpshow && !createPassword && !successMsg">
          <div class="row signup-form-top justify-content-between align-items-center">
            <div class="col">
              <img src="../../../assets/images/dexp-svg.svg" class="img-fluid" alt="" />
            </div>
            <div class="col-auto">
              <app-language-selector></app-language-selector>
            </div>
          </div>
          <div class="form-section sign-in-form my-4 my-lg-0">
            <app-alert></app-alert>
            <form [formGroup]="fPwdForm" id="forget-password" (ngSubmit)="fPwdFormSubmit()">
              <div class="form-group position-relative">
                <label translate>Enter-registered-mobile-number</label>
                <div class="position-relative pwd">
                  <input
                    type="tel"
                    class="form-control letter-space"
                    [ngClass]="{
                      'is-invalid': fPwdFormControl.MobileNumber.invalid && fPwdFormControl.MobileNumber.touched,
                      'is-valid':
                        fPwdFormControl.MobileNumber.valid &&
                        (fPwdFormControl.MobileNumber.dirty || fPwdFormControl.MobileNumber.touched)
                    }"
                    formControlName="MobileNumber"
                    id="MobileNumber"
                    placeholder="999999999"
                    appAllowNumbersOnly
                    maxlength="10"
                  />
                  <div
                    class="error-msg"
                    *ngIf="fPwdFormControl.MobileNumber.invalid && fPwdFormControl.MobileNumber.touched"
                  >
                    Please enter a valid 10 digit Mobile number
                  </div>
                </div>
              </div>
              <button type="submit" [disabled]="!fPwdForm.valid" class="btn btn-primary w-100 d-block mt-5" translate>
                Request OTP
              </button>
            </form>
            <!-- <p class="text-center mt-4 text-uppercase font-weight-bold" translate>
              Have an Account <a [routerLink]="['/login']" translate>Login</a>
            </p> -->
          </div>
          <h6>Authorized by Karnataka State Government Excise Department</h6>
        </div>
        <!-- Registered Mobile number section end  -->

        <!-- *********otp section**********  -->
        <app-otp *ngIf="otpshow" [phoneNum]="phoneNumber" (otpResult)="otpSubmitted($event)"></app-otp>
        <!-- *********otp section end******* -->
        <!-- *************************password create section ***************************** -->
        <div class="signup-form h-100" *ngIf="createPassword">
          <div class="row signup-form-top justify-content-between align-items-center">
            <div class="col">
              <img src="../../../assets/images/dexp-svg.svg" class="img-fluid" alt="" />
            </div>
            <div class="col-auto">
              <app-language-selector></app-language-selector>
            </div>
          </div>
          <div class="form-section sign-in-form my-4 my-lg-0">
            <app-alert></app-alert>
            <form [formGroup]="registerForm" id="change-password" (ngSubmit)="passwordSubmit()">
              <div class="form-group pwd-placeholder">
                <label translate>Enter-New-Password</label>
                <input
                  type="password"
                  class="form-control letter-space"
                  [ngClass]="{
                    'is-invalid': registerFormControl.password.invalid && registerFormControl.password.touched,
                    'is-valid':
                      registerFormControl.password.valid &&
                      (registerFormControl.password.dirty || registerFormControl.password.touched)
                  }"
                  formControlName="password"
                  id="password"
                  placeholder="********"
                />
                <div
                  class="error-msg"
                  *ngIf="registerFormControl.password.invalid && registerFormControl.password.touched"
                >
                  <div *ngIf="registerFormControl.password.errors.required">Can not be empty</div>
                  <div *ngIf="registerFormControl.password.errors.pattern">
                    Password length should minimum 8 characters, one alphabet, one digit
                  </div>
                </div>
              </div>
              <div class="form-group position-relative">
                <label translate>Confirm-New-Password</label>
                <div class="position-relative pwd pwd-placeholder" [ngClass]="{ active: pwdShow }">
                  <input
                    [type]="pwdShow ? 'text' : 'password'"
                    class="form-control letter-space"
                    [ngClass]="{
                      'is-invalid':
                        registerFormControl.confirmPassword.invalid && registerFormControl.confirmPassword.touched,
                      'is-valid':
                        registerFormControl.confirmPassword.valid &&
                        (registerFormControl.confirmPassword.dirty || registerFormControl.confirmPassword.touched)
                    }"
                    formControlName="confirmPassword"
                    id="confirmpwd"
                    placeholder="********"
                  />
                  <div class="pwd-toggle px-2" (click)="pwdShow = !pwdShow">
                    <img src="../../../assets/images/pwd-hide.svg" class="img-fluid" alt="" />
                  </div>
                  <div
                    class="error-msg"
                    *ngIf="registerFormControl.confirmPassword.invalid && registerFormControl.confirmPassword.touched"
                  >
                    <div *ngIf="registerFormControl.confirmPassword.errors.required">Can not be empty</div>
                    <div *ngIf="registerFormControl.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>
              <button
                type="submit"
                [disabled]="!registerForm.valid"
                class="btn btn-primary w-100 d-block mt-5"
                translate
              >
                change-password
              </button>
              <p class="text-center mt-4 text-uppercase font-weight-bold" translate>
                Have an Account <a [routerLink]="['/login']" translate>Login</a>
              </p>
            </form>
          </div>
          <h6>Authorized by Karnataka State Government Excise Department</h6>
        </div>
        <!-- *****************password create section end*********************-->

        <!-- *********************success message section start***********************  -->
        <div class="signup-form h-100" *ngIf="successMsg">
          <div class="row signup-form-top justify-content-between align-items-center">
            <div class="col">
              <img src="../../../assets/images/dexp-svg.svg" class="img-fluid" alt="" />
            </div>
            <div class="col-auto">
              <app-language-selector></app-language-selector>
            </div>
          </div>
          <div class="sign-in-form my-4 my-lg-0">
            <div class="d-flex align-items-center">
              <img src="../../../assets/images/valid-img.svg" class="img-fluid mr-3" style="min-width: 80px" alt="" />
              <div>
                <h4 class="mb-0 font-weight-bold">
                  Your password has been<br />
                  successfully changed.
                </h4>
              </div>
            </div>
            <div class="col-6">
              <a class="btn btn-primary d-block w-100 mt-3" [routerLink]="['/login']" translate>Login</a>
            </div>
          </div>
          <h6>Authorized by Karnataka State Government Excise Department</h6>
        </div>
        <!-- ***************success message section end******************************  -->
      </div>
    </div>
  </div>
</section>
