<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <img
          src="assets/images/group-logo.png"
          class="img-fluid mb-2 text-center d-none d-md-block d-lg-none mx-auto d-block"
        />
        <div class="authorized d-md-block d-lg-flex">
          <img src="assets/images/group-logo.png" class="img-fluid d-none d-lg-block" />
          <p>Authorized by Karnataka State Government Excise Department</p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="reserved">
          <p>All right reserved © 2021 by DexP Tool</p>
        </div>
      </div>
    </div>
  </div>
</footer>
