<!-- <div class="container">
  <div class="row register-process-row">
    <div class="col-12 col-md-6">
      <div class="register-process">
        <div class="process-col purchase-col active">
          <div class="process-iconset">
            <div class="purchase-icon"></div>
          </div>
          <p>Purchase</p>
        </div>
        <div class="process-col sales-col active">
          <div class="process-iconset">
            <div class="sales-icon"></div>
          </div>
          <p>Sales</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="register-date">
        <p>15 March 2021, Wednesday</p>
      </div>
    </div>
  </div>
  <div class="validate-container">
    <h4>Do you have any purchases on (05 March 2021)</h4>
    <div class="validate-btns">
      <button type="submit" class="sp-btn">Yes</button>
      <button type="submit" class="secondary-btn">No</button>
    </div>
    <div class="validate-form">
      <form class="form-inline form-invalid">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="9028910" />
        </div>
        <button type="submit" class="sp-btn">Validate</button>
        <p>Given Invoice No. is NOT VALID. Enter valid Invoice Number or Contact DEXP Support Team</p>
      </form>
    </div>
  </div>
</div>
<app-sales></app-sales> -->
<router-outlet></router-outlet>
